<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<h2>Add a book!</h2>
<input type="text" name="book-title" placeholder="Enter Title">
<input type="text" name="book-author" placeholder="Enter Author">
<textarea name="book-description" placeholder="Enter Description"></textarea>
<button id="add-book">Add new Book</button>