<div class="btn-group pull-right">
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-th-list"></span>
  </button>
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-th"></span>
  </button>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th><a href="#" class="sort-list" data-sort-by="id">#</a></th>
      <th><a href="#" class="sort-list" data-sort-by="title">Title</a></th>
      <th><a href="#" class="sort-list" data-sort-by="created">Created</a></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody></tbody>
</table>

<h2>Add a book!</h2>
<form id="add-book-form">
  <div class="form-group">
    <label for="book-title">Title</label>
    <input class="form-control" type="text" id="book-title" name="book-title" placeholder="Enter Title">
  </div>
  <div class="form-group">
    <label for="book-author">Author</label>
    <input class="form-control" type="text" id="book-author" name="book-author" placeholder="Enter Author">
  </div>
  <div class="form-group">
    <label for="book-cover-url">Cover Image URL</label>
    <input class="form-control" type="text" id="book-cover-url" name="book-cover-url" placeholder="Enter Cover Image URL">
  </div>
  <div class="form-group">
    <label for="book-description">Description</label>
    <textarea class="form-control" id="book-description" name="book-description" placeholder="Enter Description">
    </textarea>
  </div>
  <button class="btn btn-primary" id="add-book-btn">Add new Book</button>
</form>
